<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput placeholder="E-mail" type="email" name="email" ngModel #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Password" ngModel #passwordInput="ngModel" required password>
      <mat-error *ngIf="passwordInput.invalid">Please enter a correct passwword.</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>