mat-form-field, textarea {
    width: 100%;
    margin: auto;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
    img {
        height: 100%;
    }
}