<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()"  *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" name="title" placeholder="Post Title" formControlName="title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <mat-form-field>
      <textarea matInput name="content" rows="4" placeholder="Post Content" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" >Save post</button>
  </form>
</mat-card>