:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

mat-spinner {
    margin: auto;
}

.post-image {
    width: 100%;

    img {
        width: 100%;
        box-shadow: 1px, 1px, 5px, rgba(0, 0, 0, 0.5);
    }
}

mat-paginator {
    margin-top: 1rem;
}